= form_for(@section) do |f|
	-# - if @section.errors.any?
	-#   #error_explanation
	-#     %h2
	-#       = pluralize(@section.errors.count, "error")
	-#         prohibited this section from being saved:
	-#
	-#     %ul
	-#       - @section.errors.full_messages.each do |message|
	-#         %li= message
	.field
		= f.label :name
		%br/
		= f.text_field :name

	.field
		= f.label :department
		%br/
		= f.text_field :department

	.field
		.form-group.form-field-spacer
		= f.label :owners, :class => 'custom-contact-label', :for => 'sectionSubject' do
			Course Subject
		-# = f.hidden_field :subject_id, :value => @event.id
		-# = f.collection_select(:subject_id, Subject.all, {include_blank: true})
		= collection_select(:section, :subject_id, Subject.all, :id, :name, {})

	.field
		= f.label :number
		%br/
		= f.text_field :number

	.actions
		= f.submit
