= simple_form_for @section do |f|
  .row
    .col-sm-4
      .form-group
        = f.label :name, "Course Name"
        = f.text_field :name, :class => "form-control", :placeholder => "Physics 2434"

      -# .field
      -#   .form-group
      -#   = f.label :department, "Department"
      -#   = f.text_field :department, :class => "form-control", :placeholder => "Physics"

      .field
        .form-group
          = f.association :subject, collection:Subject.all, include_blank: false, prompt:"Select the class subject", :input_html => { :class => 'chosen-select' }

      .actions
        .form-group
          = f.submit 'Go', :class => "button btn btn-warning", :style => "width:100%;"
