%p#notice= notice
%p
  %strong Name:
  = @section.name
%p
  %strong Department:
  = @section.department
%p
  %strong Number:
  = @section.number
= link_to 'Edit', edit_section_path(@section)
|
= link_to 'Back', sections_path
