= form_for(@course) do |f|
  - if @course.errors.any?
    #error_explanation
      %h2
        = pluralize(@course.errors.count, "error")
        prohibited this course from being saved:
      %ul
        - @course.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :crn
    %br/
    = f.number_field :crn
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .field
    = f.label :password_hash
    %br/
    = f.text_field :password_hash
  .field
    = f.label :section_id
    %br/
    = f.number_field :section_id
  .field
    = f.label :faculty_id
    %br/
    = f.number_field :faculty_id
  .actions
    = f.submit
