= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :crn
    = f.number_field :crn
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = f.label :section_id
    = f.number_field :section_id
  .field
    = f.label :faculty_id
    = f.number_field :faculty_id
  .field
    .course-avatar-block
      %h4 Current Course Avatar
      = image_tag(@course.course_avatar_url)
      = f.file_field :course_avatar
  .actions
    = f.submit 'Save'
