.container.spacing-from-header
  %h1 My Courses
  .row{:style => "padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;"}
    .col-lg-6{:style => "padding-left:0;padding-right:0;"}
      .input-group{:style => "padding-bottom:20px;"}
        %input.form-control{:placeholder => "Search Courses...", :type => "text"}
          %span.input-group-btn
            %button.btn.btn-default{"aria-label" => "Left Align", :type => "button"}
              %span.fa.fa-search{"aria-hidden" => "true"}

  - @courses.each do |course|
    .course-wrapper-link
      = link_to course, {:style => "text-decoration:none;"} do
        .course-wrapper{:style => "background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(#{course.course_avatar_url.to_s});padding:10px 15px 10px 15px;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;"}
          .course-title
            = course.title
          .course-crn
            CRN:
            = course.crn
          .course-crn
            Subject
            = course.section
      .course-destroy-button
        = link_to edit_course_path(course) do
          %span.fa.fa-pencil-square-o{"aria-hidden" => "true", :style => "color:#ffffff;padding:5px;"}
        = link_to course, :method => :delete, :data => { :confirm => 'Are you sure?' } do
          %span.fa.fa-trash-o{"aria-hidden" => "true", :style => "color:#ffffff;padding:5px;"}
  .course-create-btn
    = link_to new_course_path do
      %span.fa.fa-plus{"aria-hidden" => "true", :style => "color:#ffffff;padding:5px;"}
  -# %table
  -#   %thead
  -#     %tr
  -#       %th Crn
  -#       %th Description
  -#       %th Password digest
  -#       %th Section
  -#       %th Faculty
  -#       %th
  -#       %th
  -#       %th
  -#
  -#   %tbody
  -#     - @courses.each do |course|
  -#       %tr
  -#         %td= course.crn
  -#         %td= course.description
  -#         %td= course.password_digest
  -#         %td= course.section_id
  -#         %td= course.faculty_id
  -#         %td= link_to 'Show', course
  -#         %td= link_to 'Edit', edit_course_path(course)
  -#         %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }
  -#
  -# %br
  -#
