%h1 Listing courses

%table
  %thead
    %tr
      %th Crn
      %th Description
      %th Password digest
      %th Section
      %th Faculty
      %th
      %th
      %th
      
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.crn
        %td= course.description
        %td= course.password_digest
        %td= course.section_id
        %td= course.faculty_id
        %td= link_to 'Show', course
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Course', new_course_path
