.container
  -# .course-navigation.container
  -#   .nav-buttons
  -#     =link_to 'Back', courses_path
  %p#notice= notice
  - if @course.errors.any?
    .alert.alert-danger{:role => "alert"}
      %span{:class => "glyphicon glyphicon-exclamation-sign"}
      - @course.errors.full_messages.each do |msg|
        = msg

  .row
    .course-title.col-sm-12.col-lg-7
      .course-wrapper-plain{:style => "background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(#{@course.course_avatar_url.to_s});padding:10px 15px 10px 15px;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;"}
        .course-title
          = @course.title
        .course-description
          = @course.description
        - if !current_user.subscribed?(@course)
          .course-signup
            %button.btn.btn-lg.button-outline{ type: 'button', 'data-toggle' => 'modal', 'data-target' => '#enroll_dialog' } Sign Up
    - if !current_user.subscribed?(@course)
      .col-sm-12.col-lg-5
        %h2 Details
        %p Course: #{@course.crn}
    - else
      .col-sm-12.col-lg-7
        .course-active-questions
          %h2 Active Questions



.modal.fade{ id: 'enroll_dialog', tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'ModalLabel', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title{ id: 'ModalLabel' }
          -# = @course.section.id
      .modal-body
        - if current_user.subscribed?(@course)
          %h1 You are already subscribed
        - else
          %h2 Please enter the course access code blow.
          = render 'enroll'
      .modal-footer
        %button{ type: "button", class: "btn btn-default", 'data-dismiss' => "modal" } Close Window





-# = link_to 'Edit', edit_section_course_path(id: @course)
-# = link_to 'Back', section_path(@course.section)
