%p#notice= notice

%p
  %b Crn:
  = @course.crn
%p
  %b Description:
  = @course.description
%p
  %b Password digest:
  = @course.password_digest
%p
  %b Section:
  = @course.section_id
%p
  %b Faculty:
  = @course.faculty_id

%button.btn.btn-primary.btn-sm{ type: 'button', 'data-toggle' => 'modal', 'data-target' => '#enroll_dialog' } Sign Up

.modal.fade{ id: 'enroll_dialog', tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'ModalLabel', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title{ id: 'ModalLabel'}
          = @course.section.name
      .modal-body
        =render 'enroll' 
      .modal-footer
        %button{ type: "button", class: "btn btn-default", 'data-dismiss' => "modal" } Close
        %button{ type: "button", class: "btn btn-primary"} Save Changes
        
= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
