.container.spacing-from-header
  %p#notice= notice

  .course-description
    = @course.description
    %hr
  .course-crn
    = @course.crn

  .course-section-id
    %b Section:
    = @course.section_id
  .course-faculty
    %b Faculty:
    = @course.faculty_id
  .course-avatar
    = image_tag @course.course_avatar_url.to_s

  = link_to 'Edit', edit_course_path(@course)
  \|
  = link_to 'Back', courses_path
