%h1 Individual Survey View

= @survey.name
= current_user.name

- if @survey.avaliable_for_participant?(current_user)
  = render 'form'
- else
  %p Uupss, #{current_user.name} you have reach the maximum number of
  %p attempts for #{@survey.name}


%p #{@survey.attempts.count}
