.navbar.navbar-custom
  .navbar-inner{:style => "border-bottom: 2px solid #c3c3c3;"}
    .container
      %a#main_nav_btn.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}
        %img{:alt => "Socrates", :src => "/assets/socrates.png"}
      .mobile-bg
      #application_menu.nav-collapse.collapse{:style => "height: 0px;background-color:#111;"}
      %ul.nav.clearfix
        %li
          = link_to 'Home', root_url
        %li
          = link_to 'Dashboard', dashboard_index_path
      %ul.nav.clearfix
        %li.top-balance
          = link_to 'Courses', courses_path
        - if logged_in?
          %li.signup{:style => "margin-top:-3px"}
            = link_to 'Log Out', signout_path
        - else
          %li.signup{:style => "margin-top:-3px"}
            = link_to 'Log In', login_path
